# Swapfiles
*.swp
*.swo
*.swn
*~

# Code van derden (via composer)
/vendor
/node_modules
app/packages

# Andere composer-gerelateerde dingen
composer.phar
composer.lock

# Opslag
overhemd.db

# Cache van php-cs-fixer
.php_cs.cache

# Lokaal opgeslagen configuratie
app/config/**/*.php.local
